@import url('./header.css');
@import url('./footer.css');
@import url("./banner.css");
@import url("./section-two.css");
@import url("./section-four.css");
@import url("./section-eight.css");
@import url("./section-seven.css");
@import url("./section-six.css");
@import url("./section-five.css");

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

section{
    padding: 80px 0;
    box-sizing: border-box;
}

section.bg-y{
    background: #fcc302;
    color: #ffffff;
}

section.bg-w{
    background: #ffffff;
    color: #313243;
}

section h3{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
}

section .container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
}

section .container .content{
    display: grid;
    grid-template-rows: 250px 200px 150px;
}

section .container .content p{
    font-size: 29px;
    letter-spacing: 0;
    line-height: 35px;
    font-weight: 400;
    align-self: center;
    margin: 0 auto;
}

section .container .content .buttons{
    align-self: start;
}

section .container .content .buttons button{
    text-transform: capitalize;
    font-size: 21px;
    letter-spacing: 0;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

section .container .content .buttons button.our-services{
    background:#fcc302;
    border:4px solid #ffffff;
}

section .container.grfr{
    grid-template-columns: 1fr 1fr;
}

section .container .service.content h2{
    margin: 0 auto;
    line-height: 60px;
    font-size: 50px;
    font-weight: 600;
    align-self: end;
}

section .container .service-image {
    justify-self: center;
    align-self: center;
    position: relative;
}

section .container .service-image .image-placeholder{
    width: 505px;
    height: 480px;
    position: relative;
}

section .service.container.gr{
    grid-template-rows: 100px 150px 630px ;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 60px;
    grid-template-areas: 
        'title title title'
        'slogan slogan slogan'
        'content-1 content-2 content-3';
}

section .service.container.gr .title{
    margin: 0 auto;
    grid-area: title;
    justify-self: center;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

section .service.container.gr .slogan{
    margin: 0 auto;
    width: 757px;
    height: 85px;
    grid-area: slogan;
    justify-self: center;
    font-size: 33px;
    font-weight: 400;
    text-align: center;
}

section .service.container.gr .service-content h3{
    margin-bottom: 5px;
}
section .service.container.gr .service-content p{
    line-height: 30px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

section .service.container.gr .service-content.one{
    grid-area: content-1;
}

section .service.container.gr .service-content.two{
    grid-area: content-2;
}

section .service.container.gr .service-content.three{
    grid-area: content-3;
}