body{
    margin: 0;
    padding: 0;
}

header{
    background: #daac00;
}

header .container-header{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 120px;
    grid-template-columns: 220px minmax(200px, 1fr) 270px;
    align-items: center;
    justify-items: center;
}

header .container-header .logo-wrapper{
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
}

header .container-header .nav-wrapper ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header .container-header .nav-wrapper ul li a{
    text-decoration: none;
    font-size: 29px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
}

header .container-header .search-wrapper form{
    position: relative;
}

header .container-header .search-wrapper form input{
    background: #fcc302;
    border: none;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}

header .container-header .search-wrapper form input::placeholder{
    color: #ffffff;
    opacity: 1;
}

header .container-header .search-wrapper form button[type="submit"]{
    width: 90px;
    height: 33.3px;
    background: #00bec9;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

section{
    padding: 80px 0;
    box-sizing: border-box;
}

section .container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
}

section .container .content{
    display: grid;
    grid-template-rows: 250px 200px 100px;
}

section .container .content p{
    font-size: 29px;
    letter-spacing: 0;
    /* color: #ffffff; */
    font-weight: 400;
    font-family: "Poppins";
    align-self: center;
    margin: 0 auto;
}

section .container .content .buttons{
    align-self: start;
}

section .container .content .buttons button{
    text-transform: capitalize;
    font-size: 21px;
    letter-spacing: 0;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

section .container .banner.content .banner.buttons button.contact-us{
    background: #00bec9;
    border: 4px solid #00bec9;
    margin-right: 20px;
}

section .container .banner.content .banner.buttons button.contact-us:hover{
    background: transparent;
    color: #00bec9;
}

section .container .content .buttons button.our-services{
    background:#fcc302;
    border:4px solid #ffffff;
}

section .container .content .buttons button.our-services:hover{
    background: #ffffff;
    border:4px solid #fcc302;
    color: #fcc302;
}

section.yellow-bg{
    background: #fcc302;
    color: #ffffff;
}

section.yellow-bg .container{
    grid-template-columns: 60% 40%;
}

section.yellow-bg .container .content h1{
    font-size: 67px;
    letter-spacing: 1px;
    /* color: #ffffff; */
    font-weight: 600;
    font-family: "Poppins";
    align-self: start;
    margin: 0;
    padding-top: 60px;
}

section.yellow-bg .container .banner-image img{
    width: 400px;
    height: 600px;
}


section.white-bg{
    background: #ffffff;
    color: #313243;
}

section.white-bg .container{
    grid-template-columns: 1fr 1fr;
}

section.white-bg .container .service.content h2{
    font-size: 50px;
    font-weight: 600;
    font-family: "Poppins";
}

section.white-bg .container .service-image {
    justify-self: center;
    align-self: center;
    position: relative;
}

section.white-bg .container .service-image .image-placeholder{
    width: 600px;
    height: 600px;
    position: relative;
}

section.white-bg .container .service-image::before{
    content: '';
    display: block;
    width: 120px;
    height: 100px;
    position: absolute;
    /* bottom: -20px; */
    /* left: -20px; */
    top: calc(100% - 80px);
    right: calc(100% - 100px);
    background: #fcc302;
}

section.white-bg .container .service-image .image-placeholder::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #fcc302;
    opacity: 0.6;
}

section.white-bg .container .service-image .image-placeholder img{
    width: 100%;
    height: 100%;
}

section .service-container{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-rows: 100px 150px 500px ;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 60px;
    grid-template-areas: 
        'title title title'
        'slogan slogan slogan'
        'content-1 content-2 content-3';
        /* 'img-1 img-2 img-3'
        'subtitle-1 subtitle-2 subtitle-3'
        'p-1 p-2 p-3'; */
}

section .service-container h2.title{
    margin: 0 auto;
    grid-area: title;
    justify-self: center;
    font-size: 75px;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
}

section .service-container p.slogan{
    margin: 0 auto;
    width: 757px;
    height: 85px;
    grid-area: slogan;
    justify-self: center;
    font-size: 33px;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

section .service-container div.service-content{
    justify-self: center;
}

section .service-container div.service-content h3{
    margin-bottom: 5px;
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

section .service-container div.service-content p{
    line-height: 30px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

section .service-container div.service-content.one{
    grid-area: content-1;
}

section .service-container div.service-content.two{
    grid-area: content-2;
}

section .service-container div.service-content.three{
    grid-area: content-3;
}



 section .service-container img{
    width: 100%;
}

/*section .service-container img.img-1{
    grid-area: img-1;
    justify-self: center;
}

section .service-container img.img-2{
    grid-area: img-2;
    justify-self: center;
}

section .service-container img.img-3{
    grid-area: img-3;
    justify-self: center;
}

section .service-container h3.subtitle-1{
    grid-area: subtitle-1;
    justify-self: center;
}
section .service-container h3.subtitle-2{
    grid-area: subtitle-2;
    justify-self: center;
}
section .service-container h3.subtitle-3{
    grid-area: subtitle-3;
    justify-self: center;
}
section .service-container p.p-1{
    grid-area: p-1;
    justify-self: center;
}
section .service-container p.p-2{
    grid-area: p-2;
    justify-self: center;
}
section .service-container p.p-3{
    grid-area: p-3;
    justify-self: center;
} */
